[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "IRdisplay"]
	path = IRdisplay
	url = https://github.com/irkernel/irdisplay
	shallow = true
	registered = true
[submodule "IRkernel"]
	path = IRkernel
	url = https://github.com/irkernel/irkernel
	shallow = true
	registered = true
[submodule "repr"]
	path = repr
	url = https://github.com/irkernel/repr
	shallow = true
	registered = true
